.next
certificates
dev-dist
dist
next-env.d.ts
node_modules
packages/legacy/test-results
packages/legacy/tests/fixtures/roms
packages/server/src/assets
packages/vendor/inputs
packages/vendor/artifacts
packages/vendor/prisma/migrations
pages.gen.ts
