@import '@fontsource/roboto'
@import '@fontsource/audiowide'
@import '@fontsource/press-start-2p'
@import '@fontsource-variable/roboto-slab'

@tailwind base
@tailwind components
@tailwind utilities

:focus
  outline: none

canvas
  pointer-events: none

body
  font-family: 'Roboto', sans-serif
  user-select: none

button
  cursor: default
