@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

body {
  --theme: var(--color-rose-700);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter Variable', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}
