@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "@tailwindcss/typography";

body {
  --theme: var(--color-rose-700);
  font-family: 'Inter Variable', sans-serif;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}
